@tailwind base;
@tailwind components;
@tailwind utilities;

#skills-section {
    height: calc(100vh - 104px);
    margin-top: 104px;
}

@media (min-width:1024px) {
    #skills-section {
        height: calc(100vh - 120px);
        margin-top: 120px;
    }
}